<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndriodCse225AllCode"
        tools:targetApi="31">
        <activity
            android:name=".videoView"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Traffic_light.Activity_traffic_light"
            android:exported="true"/>
        <activity
            android:name=".project.Course_activity"
            android:exported="true" />
        <activity
            android:name=".Storage.ExternalStorage"
            android:exported="false" />
        <activity
            android:name=".Storage.ExternalDetails"
            android:exported="false" />
        <activity
            android:name=".Storage.Internal_Storage"
            android:exported="false" />
        <activity
            android:name=".Unit1.progressBar"
            android:exported="false" />
        <activity
            android:name=".Unit1.RatingBar"
            android:exported="false" />
        <activity
            android:name=".Unit1.BottomNav"
            android:exported="false" />
        <activity
            android:name=".Unit1.TollBar"
            android:exported="false" />
        <activity
            android:name=".Unit1.implicitIntent"
            android:exported="true" />
        <activity
            android:name=".Unit1.IntentsDisplay"
            android:exported="false" />
        <activity
            android:name=".Unit1.splashScreen"
            android:exported="false" />
        <activity
            android:name=".Unit1.Intents"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <receiver android:name=".unit2.AlarmReceiver" />
    </application>

</manifest>